In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score

In [3]:
df = pd.read_csv("Sentiment_Anaysis.csv")
df.head()

   Unnamed: 0                 Twits label
0           0          what happens   neu
1           1                    üòûüòû   neg
2           2           ÿßŸÜ ÿ¥ÿßÿ° ÿßŸÑŸÑŸá   neu
3           3  ÿ®ÿßŸÑÿ™ŸàŸÅŸäŸÇ ÿßŸÜ ÿ¥ÿßÿ° ÿßŸÑŸÑŸá   pos
4           4   ÿßŸÑÿ≠ŸÖÿØŸÑŸÑŸá ÿπŸÑŸâ ŸÉŸÑ ÿ≠ÿßŸÑ   pos

In [4]:
df.groupby('label').describe()

      Unnamed: 0                                                              \
           count          mean           std  min      25%      50%      75%
label
neg      15385.0  24516.450634  15684.880210  1.0   9236.0  26107.0  38716.0
neu      30033.0  26347.459328  14803.961605  0.0  14445.0  24944.0  39561.0
pos       6792.0  28627.371319  14407.410643  3.0  22159.5  29208.5  38015.5


           max
label
neg    52209.0
neu    52206.0
pos    52208.0

In [5]:
df['label']=df['label'].apply(lambda x: 1 if x=='label' else 0)
df.head()

   Unnamed: 0                 Twits  label
0           0          what happens      0
1           1                    üòûüòû      0
2           2           ÿßŸÜ ÿ¥ÿßÿ° ÿßŸÑŸÑŸá      0
3           3  ÿ®ÿßŸÑÿ™ŸàŸÅŸäŸÇ ÿßŸÜ ÿ¥ÿßÿ° ÿßŸÑŸÑŸá      0
4           4   ÿßŸÑÿ≠ŸÖÿØŸÑŸÑŸá ÿπŸÑŸâ ŸÉŸÑ ÿ≠ÿßŸÑ      0

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Twits,df.label,test_size=.25)
X_train.shape
X_test.shape

(13053,)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count

<39157x89916 sparse matrix of type '<class 'numpy.int64'>'
	with 414659 stored elements in Compressed Sparse Row format>

In [8]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [9]:
MESSAGE = [
    'Hey moan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
MESSAGE_count = v.transform(MESSAGE)
model.predict(MESSAGE_count)

array([0, 0], dtype=int64)

In [10]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

1.0

In [11]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [ ]:
clf.fit(X_train, y_train)